body{
    background-color:rgb(246, 244, 245);
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .container > *{
    border:2px solid #ac2a20;
    
  }
  .he{
    margin: 0;
    padding: 0;
    border: 2px solid;
  }
  li{
    color:black;
    
  }
  h1{
    text-align: center;
    color: #ac2a20;

  }
  h2{
    color: #ac2a20;
  }
  

  .project{
    border: 5px solid cadetblue;
    width: 200px;
    padding: 5px;
  }